@import url('https://fonts.googleapis.com/css?family=Vollkorn');


h3 {
    font-family: 'Vollkorn', serif;    
}

#left {
    float: left;
    width: 95%;
    margin: auto;
}

#right {
    margin-left: 15%;
    display: block;
}

a {
    color: #0060B6;
    text-decoration: none;
}

a:hover {
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
}

#search_bar {
    width: 80%;
    float: left;
}

#search_result {
    border: 1px solid black;
    box-shadow: 0px 1px 18px 0px rgba(0,0,0,0.62);
}