{% extends 'catalog/shared/_Layout.html' %}

{% block body %}

<div>


    <!-- Load Search Bar -->
    {% include 'catalog/shared/_searchbar.html' %}

    <!-- Load Search Results -->
    <br />
    <br />
    {% if documents %}

    <h2>All Document List</h2>
    <br>
    <div id="search_result">

        <table class="table">
            <thead>
                <tr>
                    <th>File Name</th>
                    <th>Uploaded Document</th>
                    <th>Date</th>
                    <th>Size</th>
                    <th>Download</th>
                </tr>
            </thead>
            <tbody>
                {% for doc in documents %}
                <tr>
                    <td>{{ doc.name }}</td>
                    <td>{{ doc.file_content }}</td>
                    <td>{{ doc.created_at }}</td>
                    <td>{{ doc.file_content.size | filesizeformat }}</td>
                    <td><a href="{{ doc.file_content.url }}" target="_blank">Download</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% endif %}



</div>

{% endblock %}